<% coder = HTMLEntities.new %>

<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Aurora Scheduler Blog</title>
  <id>https://aurora-scheduler.github.io/blog</id>
  <link href="https://aurora-scheduler.github.io/blog" />
  <link href="https://aurora-scheduler.github.io/blog/feed.xml" rel="self"/>
  <updated><%= blog.articles.first.date.to_time.iso8601  %></updated>
  <% blog.articles.each do |article| %>
  <entry>
    <id>https://aurora-scheduler.github.io<%= article.url %></id>
    <link href="<%= article.url %>" />
    <title>
      <%= article.title %>
    </title>
    <updated><%= article.date.to_time.iso8601 %></updated>
    <author>
      <name><%= article.data.post_author.display_name %></name>
    </author>
    <content type="html">
      <%= coder.encode(article.body) %>
	</content>
  </entry>
  <% end %>
</feed>